<!DOCTYPE html>

{% extends "homepage.html" %}

{% block title %}
    Perfil - {{usuario}}
{% endblock %}



{% block body %}
<body>
    <div class="container">

    {% include "navbar.html" %}

        {% if form %}
            <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <h2>{{ usuario.username }} - Enviar foto</h2>

                <div class="bloco-input-botao">
                    <div class="bloco-arquivo">
                        {{ form.foto(class="botao-arquivo") }}
                    </div>
                    {{ form.botao_confirmacao(class="botao-login") }}
                </div>
            </form>
        {% else %}
                <div class="bloco-add-img">
                    <h2>{{usuario.username}} - Perfil</h2>
                </div>
        {% endif %}
        

        <div class="conteudo">
        {% for foto in usuario.fotos %}
                <div class="bloco-imagem">
                    <img src="{{ url_for('static', filename = 'fotos_posts/{}'.format(foto.imagem)  )}}" alt="Pinterest 1" />
                </div>
        {% endfor %}
        </div>
    </div>
</body>
{% endblock %}



